.header{
    display: flex;
    align-items: center;
    padding: 32px 0 28px;
    font-family: 'Cabinet Grotesk', sans-serif;
    font-size: 20px;
}

.header__logo{
    margin-right: 24px;
    width: 89px;
    height: 40px;
    
}

.header__nav-container{
    display: flex;
    align-items: center;
    margin-inline-start: auto;
}

.header__date-and-location {
    margin: 0;
    font-weight: 700;
    font-size: 20px;


}

.header__add-clothes-button{
    margin: 0 20px 0 auto;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    cursor: pointer;
}

.header__user-container{
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    color: black;
}

.header__username{
    margin: 0;
    font-weight: 700;
    
}

.header__avatar{
    width: 40px;
    height: 40px;
    left: 1320px;
    border-width: 1px;

}

.header__avatar-placeholder {
  width: 40px;
  height: 40px;
  background: #ccc;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.header__auth-button {
  background: none;
  border: none;
  color: #000;
  font-weight: 700;
  margin: 0;
  cursor: pointer;
  box-shadow: none;
  outline: none;
  border-radius: 0;
  transition: none;
}




